.my-element span {
  border-right: 0.1em solid white;

  animation: blink 2s step-end infinite;
}

@keyframes blink {
  from,
  to {
    border-color: transparent;
  }

  50% {
    border-color: white;
  }
}
