.markdown {
  text-align: justify;
  padding: 1rem;
  max-width: 100%;
}
.markdown h1 {
  font-size: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.markdown h2 {
  font-size: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.markdown li {
  padding-left: 2rem;
  padding-top: 0.5rem;
}